.TAP-previewContent {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding: 0; }
.TAP-previewContent > *:first-child {
  margin-top: 0 !important; }
.TAP-previewContent > *:last-child {
  margin-bottom: 0 !important; }
.TAP-previewContent a {
  color: #4183C4; }
.TAP-previewContent a.absent {
  color: #cc0000; }
.TAP-previewContent a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }
.TAP-previewContent h1, .TAP-previewContent h2, .TAP-previewContent h3, .TAP-previewContent h4, .TAP-previewContent h5, .TAP-previewContent h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }
.TAP-previewContent h1:hover a.anchor, .TAP-previewContent h2:hover a.anchor, .TAP-previewContent h3:hover a.anchor, .TAP-previewContent h4:hover a.anchor, .TAP-previewContent h5:hover a.anchor, .TAP-previewContent h6:hover a.anchor {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA09pVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoMTMuMCAyMDEyMDMwNS5tLjQxNSAyMDEyLzAzLzA1OjIxOjAwOjAwKSAgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUM2NjlDQjI4ODBGMTFFMTg1ODlEODNERDJBRjUwQTQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUM2NjlDQjM4ODBGMTFFMTg1ODlEODNERDJBRjUwQTQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5QzY2OUNCMDg4MEYxMUUxODU4OUQ4M0REMkFGNTBBNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5QzY2OUNCMTg4MEYxMUUxODU4OUQ4M0REMkFGNTBBNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PsQhXeAAAABfSURBVHjaYvz//z8DJYCRUgMYQAbAMBQIAvEqkBQWXI6sHqwHiwG70TTBxGaiWwjCTGgOUgJiF1J8wMRAIUA34B4Q76HUBelAfJYSA0CuMIEaRP8wGIkGMA54bgQIMACAmkXJi0hKJQAAAABJRU5ErkJggg==) no-repeat 10px center;
  text-decoration: none; }
.TAP-previewContent h1 tt, .TAP-previewContent h1 code {
  font-size: inherit; }
.TAP-previewContent h2 tt, .TAP-previewContent h2 code {
  font-size: inherit; }
.TAP-previewContent h3 tt, .TAP-previewContent h3 code {
  font-size: inherit; }
.TAP-previewContent h4 tt, .TAP-previewContent h4 code {
  font-size: inherit; }
.TAP-previewContent h5 tt, .TAP-previewContent h5 code {
  font-size: inherit; }
.TAP-previewContent h6 tt, .TAP-previewContent h6 code {
  font-size: inherit; }
.TAP-previewContent h1 {
  font-size: 28px;
  color: black; }
.TAP-previewContent h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }
.TAP-previewContent h3 {
  font-size: 18px; }
.TAP-previewContent h4 {
  font-size: 16px; }
.TAP-previewContent h5 {
  font-size: 14px; }
.TAP-previewContent h6 {
  color: #777777;
  font-size: 14px; }
.TAP-previewContent p, .TAP-previewContent blockquote, .TAP-previewContent ul, .TAP-previewContent ol, .TAP-previewContent dl, .TAP-previewContent li, .TAP-previewContent table, .TAP-previewContent pre {
  margin: 15px 0; }
.TAP-previewContent hr {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }
.TAP-previewContent body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
.TAP-previewContent body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
.TAP-previewContent body > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0; }
.TAP-previewContent body > h3:first-child, .TAP-previewContent body > h4:first-child, .TAP-previewContent body > h5:first-child, .TAP-previewContent body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }
.TAP-previewContent a:first-child h1, .TAP-previewContent a:first-child h2, .TAP-previewContent a:first-child h3, .TAP-previewContent a:first-child h4, .TAP-previewContent a:first-child h5, .TAP-previewContent a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }
.TAP-previewContent h1 p, .TAP-previewContent h2 p, .TAP-previewContent h3 p, .TAP-previewContent h4 p, .TAP-previewContent h5 p, .TAP-previewContent h6 p {
  margin-top: 0; }
.TAP-previewContent li p.first {
  display: inline-block; }
.TAP-previewContent ul, .TAP-previewContent ol {
  padding-left: 30px; }
.TAP-previewContent ul :first-child, .TAP-previewContent ol :first-child {
  margin-top: 0; }
.TAP-previewContent ul :last-child, .TAP-previewContent ol :last-child {
  margin-bottom: 0; }
.TAP-previewContent dl {
  padding: 0; }
.TAP-previewContent dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px; }
.TAP-previewContent dl dt:first-child {
  padding: 0; }
.TAP-previewContent dl dt > :first-child {
  margin-top: 0; }
.TAP-previewContent dl dt > :last-child {
  margin-bottom: 0; }
.TAP-previewContent dl dd {
  margin: 0 0 15px;
  padding: 0 15px; }
.TAP-previewContent dl dd > :first-child {
  margin-top: 0; }
.TAP-previewContent dl dd > :last-child {
  margin-bottom: 0; }
.TAP-previewContent blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
.TAP-previewContent blockquote > :first-child {
  margin-top: 0; }
.TAP-previewContent blockquote > :last-child {
  margin-bottom: 0; }
.TAP-previewContent table {
  padding: 0; }
.TAP-previewContent table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; }
.TAP-previewContent table tr:nth-child(2n) {
  background-color: #f8f8f8; }
.TAP-previewContent table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }
.TAP-previewContent table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }
.TAP-previewContent table tr th :first-child, .TAP-previewContent table tr td :first-child {
  margin-top: 0; }
.TAP-previewContent table tr th :last-child, .TAP-previewContent table tr td :last-child {
  margin-bottom: 0; }
.TAP-previewContent img {
  max-width: 100%; }
.TAP-previewContent span.frame {
  display: block;
  overflow: hidden; }
.TAP-previewContent span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto; }
.TAP-previewContent span.frame span img {
  display: block;
  float: left; }
.TAP-previewContent span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0; }
.TAP-previewContent span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
.TAP-previewContent span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center; }
.TAP-previewContent span.align-center span img {
  margin: 0 auto;
  text-align: center; }
.TAP-previewContent span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
.TAP-previewContent span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right; }
.TAP-previewContent span.align-right span img {
  margin: 0;
  text-align: right; }
.TAP-previewContent span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
.TAP-previewContent span.float-left span {
  margin: 13px 0 0; }
.TAP-previewContent span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
.TAP-previewContent span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right; }
.TAP-previewContent code, .TAP-previewContent tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }
.TAP-previewContent pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }
.TAP-previewContent .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
.TAP-previewContent pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
.TAP-previewContent pre code, .TAP-previewContent pre tt {
  background-color: transparent;
  border: none; }
